* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E5E5E5;
    background-image: url('../assets/background.png');
    background-position: center;

    color: #000;
    font-family: 'Mulish', sans-serif;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.card {
    background-color: #fff;
    border-radius: 10px;

    width: 739px;
    padding: 50px;
}

.guidelines {
    background-color: #F8F9FD;
    border-radius: 6px;
    color: #494949;

    padding: 30px;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    margin-bottom: 50px;
    height: 47px;
}

.form__input {
    outline: none;
    width: 80%;
    border: 1px solid #E5E5E5;
    padding: 15px 0px 15px 20px;
    border-radius: 5px;
}

.form__input:focus {
    border: 1px solid #272727;
}

.form__button {
    all: unset;
    cursor: pointer;
    border: none;
    height: 100%;
    flex: 1 1 auto;
    
    background-color: #9677EF;
    border-radius: 5px;
    text-align: center;
    color: #fff;

    padding: 0px 35px;
    margin-left: 0.25rem;
    transition: 0.2s;
}

.form__button:hover {
    background-color: rgba(150, 119, 239, 0.8);
    box-shadow: 0px 11px 20px rgba(150, 119, 239, 0.3);
}

.guidelines__link {
    color: #9677EF;
}